<html>

<head>
  <title>Flight Launchpad</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-daterangepicker.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/leaflet.css">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Flight Lanuchpad <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  
  <%- body %>
  <footer class="text-muted">
    <br>
    <div class="container-fluid">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Flight Launchpad</p>
      <p>New to Flight Launchpad? <a href="../../">Visit the homepage</a> or read our <a
          href="../../getting-started/">getting
          started guide</a>.</p>
    </div>
  </footer>


  <script type="application/javascript" src="/javascripts/jquery-3.6.0.slim.min.js" charset="utf-8"></script>
  <script type="application/javascript" src="/javascripts/moment.min.js" charset="utf-8"></script>
  <script type="application/javascript" src="/javascripts/bootstrap.bundle.min.js" charset="utf-8"></script>
  <script type="application/javascript" src="/javascripts/daterangepicker.min.js" charset="utf-8"></script>
  <script type="application/javascript" src="/javascripts/leaflet.js" charset="utf-8"></script>

  <script type="text/javascript">
    $(function () {
      $('input[name="datetimes"]').daterangepicker({
        timePicker: true,
        startDate: moment().startOf('hour'),
        endDate: moment().startOf('hour').add(32, 'hour'),
        locale: {
          format: 'DD-MM-YY hh:mm A'
        }
      });
    });

    // Creates a leaflet map binded to an html <div> with id "map"
    // setView will set the initial map view to the location at coordinates
    // 13 represents the initial zoom level with higher values being more zoomed in
    var map = L.map('map').setView([43.659752, -79.378161], 2);

    // Adds the basemap tiles to your web map
    // Additional providers are available at: https://leaflet-extras.github.io/leaflet-providers/preview/
    L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      maxZoom: 21
    }).addTo(map);

    var geojson_feature_layer = L.featureGroup().addTo(map);

    function remove_spaces(string) {
      return string.replace(/\n/g, "").replace(/ /g, '');

    }

    function update_geo_json() {
      var geojson_control = document.getElementById('geojson_upload_control');
      var geo_json = geojson_control.value;
      try {
        geojson_feature_layer.clearLayers();
        let layer = L.geoJSON(JSON.parse(geo_json), {
          "color": "#ff7800",
          "weight": 5,
          "opacity": 0.65
        });
        geojson_feature_layer.addLayer(layer);
        map.fitBounds(geojson_feature_layer.getBounds());
      } catch (err) {
        console.log(err);
        geojson_feature_layer.clearLayers();
      }

    }
  </script>
</body>

</html>