<div class="row">
  <div class="col">
    

    
    <%  if (data.is_approved) { %>            
      <div class="alert alert-success flash flash-success">Congratulatons! your declaration is submitted, it has been approved</div>
    <% }  else { %>      
      <div class="alert alert-warning flash flash-warning">Your declaration is submitted, it has not been approved yet.</div>
    <% } %>
  </div>

</div>  